@import "src/styles/variables";
.Game {
  .Game_table{
    padding: 20px 30px 50px 20px;
    background: $main-green;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    // Get depth perception
    margin-top: 0;
    border-top-width: 4px;
    border-bottom-width: 1px;
    -webkit-transform: perspective(500px) rotateX(40deg) scale(0.75);
  }
}
