.Card {
  .Card_container {
    width: 91px;
    height: 135px;
    position: relative;
    left: 10px;
    .Card_image {
      width: 100%;
      height: 100%;
      background-image: url("../../assets/sprites/deck.png");
    }
  }
}
